<% include ../partials/header %>
<div id='container_send'>
  <div id='send'>

    <p>Gracias por suscribirse, su mensaje fue enviado exitosamente</p>
    <a href="../../blog"><img src="http://www.myiconfinder.com/uploads/iconsets/256-256-182bdb888bc2849a2f8fe58cc818137a-message.png" alt=""></a>
  </div>
</div>


<% include ../partials/footer %>
