<% include ../partials/header %>

        <div id="contact_form">
          <form action="/users/login" method='POST'>
            <p>Login</p>
            <input id="username" type="text" name='username' placeholder='Ingresar usuario'>
            <input id="password" type="password" name='password' placeholder='Ingresar contraseña'>
            <input id="submit" type="submit" value="Login"/>
            <button id='cancel'><a href="/">Cancelar</a></button>
          </form>
        </div>

  </div>
</div>
<% include ../partials/footer %>
