<% include ../partials/header %>

		<div id="profile_content">
			<div id='profile_menu'>
				<p>Aplicación</p>
				<ul>
					<li><a href="/blog/post/new">Nuevo Articulos</a></li>
					<li><a href="/category/new">Nueva Categoria</a></li>
					<li><a href="/category">Categorias</a></li>
				</ul>
			</div>
		</div>

<% include ../partials/footer %>
